<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Used Good Reads</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <style>
    </style>
  </head>
  <body>
  {% if isbn and title %}
    <h2>🔖 {{ title }} - {{ isbn }}</h2>
  {% elif status %}
    <h1> {{ status }} </h1>
  {% else %}
    <h1>📥 Pending..</h1>
  {% endif %}
  <ul>
  {% for result in results %}
    <li>📘 {{ result.title }} </li>
    <ul>
      <li> {{ result.description }} </li>
      <li> <a href="{{ result.link }}">{{result.link}}</a></li>
      <li> {{ result.price }} Euro </li>
    </ul>
  {% endfor %}
  </ul>
  </body>
</html>
