SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://postgres:a32dff7a-b6ac-472e-bd58-438fde8a2645@postgres/postgres

REDIS_HOST=redis
REDIS_PORT=6379

SELENIUM_HOST=firefox
SELENIUM_PORT=4444
START_XVFB=false

GUNICORN_CMD_ARGS=--error-logfile - --log-file - --log-level info -w 2 -k gevent --bind=0.0.0.0:5000
