SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://postgres:a32dff7a-b6ac-472e-bd58-438fde8a2645@postgres/postgres

REDIS_HOST=redis
REDIS_PORT=6379

SELENIUM_HOST=firefox
SELENIUM_PORT=4444
START_XVFB=false
